$clr-primary: #123295;
$clr-primary-light: #1d3cec;
$clr-secondary: #f2af19;
$clr-grey-bg: #f2f2f2;

$ff-heading: filson-soft, sans-serif;
$ff-body: filson-soft, sans-serif;
$ff-hero-text: filson-pro, sans-serif;

$btn-border-radius: 30px;
$card-img-border-radius: 70px;

$corner-size-md: 10rem;
$corner-size-sm: 7rem;

$main-box-shadow: 1rem 1rem 0 0 $clr-primary-light;