.margin-vertical-xs {
    margin: 1rem 0;
}

.margin-vertical-sm {
    margin: 2rem 0;
}

.margin-vertical-md {
    margin: 4rem 0;
}

.margin-vertical-lg {
    margin: 6rem 0;
}

.margin-vertical-xl {
    margin: 8rem 0;
}